<ion-header>

  <ion-navbar>
    <ion-title>{{ jugador.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="item-profile" text-center #profilePic [style.background-image]="'url(' + jugador.profilePic + ')'">
  </div>

  <div class="item-detail" padding>
    <h2>{{jugador.name}}</h2>
    <p>{{jugador.categoria}}</p>
  </div>
</ion-content>