$font-path: "../assets/fonts";

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------

$text-color: #000;
$background-color: #fff;

// Shared Fonts
// --------------------------------------------------

@font-face {
  font-family: Karla;
  src: url(../assets/fonts/Karla-Regular.ttf);
}
@font-face {
  font-family: Arimo;
  src: url(../assets/fonts/Arimo-Regular.ttf);
}
@font-face {
  font-family: Work-Sans;
  src: url(../assets/fonts/WorkSans-Regular.ttf);
}
@font-face {
  font-family: Lato;
  src: url(../assets/fonts/Lato-Regular.ttf);
}
// Named Color Variables
// --------------------------------------------------

$colors: (
  primary: #488aff,
  secondary: #32db64,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222
);

// App iOS Variables
// --------------------------------------------------

// App Material Design Variables
// --------------------------------------------------

// App Windows Variables
// --------------------------------------------------

// App Theme
// --------------------------------------------------

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
