<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title text-center>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon padding-right name="arrow-forward"></ion-icon> {{ p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>
<ion-nav #content [root]="rootPage"></ion-nav>