page-welcome {
  .splash-bg {
    position: relative;
    background: url("../assets/img/iconos/wanda.jpg") no-repeat transparent;
    background-size: cover;
    height: 45%;
    z-index: 1;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
  }

  @keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }

  .splash-info {
    position: relative;
    z-index: 2;
    margin-top: -64px;
    text-align: center;
  }
  .splash-logo {
    margin: auto;
    padding: 20px;
    background: url("../assets/img/iconos/atmmadrid.png") no-repeat transparent;
    background-size: 100%;
    width: 80px;
    height: 105px;
  }

  ion-content {
    background-color: rgb(224, 74, 48) !important;
  }
  .no-scroll .scroll-content {
    overflow: hidden;
  }

  .login {
    font-family: Lato;
    color: antiquewhite !important;
    form button {
      background-color: #fff !important;
      color: #2d315f !important;
      border-radius: 7px;
      min-height: 30px;
      margin-top: 10px;
      font-size: 1.1em !important;
    }
    ion-item {
      background: transparent !important;
      ion-label {
        color: rgb(235, 235, 235) !important;
      }
      ion-input[type="text"] {
        color: #fff;
      }
      ion-input[type="password"] {
        color: rgb(26, 26, 26);
      }
    }
    .box {
      margin: 10px;
      padding: 0px 10px 10px 10px;
    }

    .no-scroll .scroll-content {
      overflow: hidden;
    }
    .bg {
      height: 100% !important;
      background-color: #2d315f;
      color: #fff;
    }

    ion-header {
      background-color: #d42b0e !important;
    }
    .back-button {
      color: #fff !important;
    }
    div.toolbar-content:nth-child(3)
      > ion-title:nth-child(1)
      > div:nth-child(1) {
      color: #fff !important;
    }

    ion-navbar.toolbar > div:nth-child(1) {
      background-color: #d42b0e !important;
    }
  }
}
