<ion-content class="no-scroll">
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>

  </div>
  <ion-content class="no-scroll bg login">
    <form (submit)="doLogin()">
      <ion-list>

        <!--                     ¿INICIAMOS SESION CON USERNAME O EMAIL?
             <ion-item>   
                    <ion-label fixed>Correo electrónico</ion-label>
                    <ion-input type="email" [(ngModel)]="account.email" name="email"></ion-input>
             </ion-item> -->

        <div class="box">
          <ion-item>
            <ion-label floating>Usuario</ion-label>
            <ion-input type="text" [(ngModel)]="account.username" name="username"></ion-input>
          </ion-item>


          <ion-item>
            <ion-label floating>Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
          </ion-item>

          <div padding>
            <button ion-button block>Iniciar sesión</button>
          </div>
        </div>

      </ion-list>
    </form>
  </ion-content>
</ion-content>