<ion-header>

  <ion-navbar>
    <ion-title>Buscar jugador</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-searchbar (ionInput)="getItems($event)" placeholder="Buscar jugador"></ion-searchbar>
    <ion-item>
      <p>Juveniles</p>
    </ion-item>
    <ion-item-sliding *ngFor="let item of filterItemsOfType('Juvenil')">

      <button ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <img [src]="item.profilePic" />
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.categoria}}</p>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          Eliminar
        </button>

      </ion-item-options>
    </ion-item-sliding>

    <ion-item>
      <p>Cadetes</p>
    </ion-item>
    <ion-item-sliding *ngFor="let item of filterItemsOfType('Cadete')">

      <button ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <img [src]="item.profilePic" />
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.categoria}}</p>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          Eliminar
        </button>

      </ion-item-options>
    </ion-item-sliding>
    <ion-item>
      <p>Infantiles</p>
    </ion-item>
    <ion-item-sliding *ngFor="let item of filterItemsOfType('Infantil')">

      <button ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <img [src]="item.profilePic" />
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.categoria}}</p>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          Eliminar
        </button>

      </ion-item-options>
    </ion-item-sliding>
    <ion-item>
      <p>Alevines</p>
    </ion-item>
    <ion-item-sliding *ngFor="let item of filterItemsOfType('Alevin')">

      <button ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <img [src]="item.profilePic" />
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.categoria}}</p>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          Eliminar
        </button>

      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>