<!--
  Generated template for the EstudiosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Estudios</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>Lista con todos los jugadores jojoejeo</p>
</ion-content>