<ion-header>
  <ion-navbar>
    <ion-title text-center>Menú Principal</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row align-items-start>
      <ion-col col-3 text-center *ngFor="let p of pages">
        <button (click)="openPage(p)">
          <ion-img [width]="p.WidhtHeight" [height]="p.WidhtHeight" [src]="p.img"></ion-img>
          <p>{{p.title}}</p>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>