page-list-master {
  button {
    background: transparent !important;
    ion-img {
      background: transparent !important;
    }
  }

  ion-content {
    background-color: #d3d3d3 !important;
  }
}
